<div class="flex justify-between mb-3 mt-3 sm:mt-0">
  <h1 class="text-[#f4e3cf]">Activity</h1>
  <h1 class="text-[#f4e3cf]">View Timeline</h1>
</div>
<div class="flex w-full gap-3 mb-3" *ngFor="let item of [0,1,2,3,4]">
  <div class="bg-[#f4e3cf] h-24 w-2/4 rounded-sm"></div>
  <div class="w-full h-24 flex flex-col justify-between">
    <span class="text-[#f4e3cf] text-xl">Kegiatan Sosial</span>
    <span class="text-[#f4e3cf]">Acara Kegiatan Sosial</span>
    <span class="text-[#f4e3cf]">20 Juli 2022</span>
  </div>
</div>
