<div class="flex justify-center">
  <img src="assets/designer.jpg" class="absolute h-14 w-14 top-[165px] object-fill rounded">
</div>
<div class="py-3 mb-3 flex flex-col items-center border-solid border-b-[1px] border-b-[#953e46]">
  <h1 class="font-bold text-[#953e46]">Waseem Ahmad</h1>
  <h1 class="text-sm text-[#953e46] mb-3">UI/UX Designer</h1>
  <button class="px-4 py-1 font-medium tracking-wide text-[#f4e3cf] bg-[#953e46] rounded-sm flex">
    <mat-icon>file_upload</mat-icon>
    <span class="ml-2">Start Upload</span>
  </button>
</div>
<div class="flex flex-col gap-3">
  <a href="#" class="text-[#953e46]">My Profile</a>
  <a href="#" class="text-[#953e46]">Edit Profile</a>
  <a href="#" class="text-[#953e46]">Security</a>
</div>
<div mat-dialog-actions class="flex justify-center">
  <button (click)="close()" mat-icon-button class="absolute bottom-[150px]">
    <mat-icon class="text-[#f4e3cf]">close</mat-icon>
  </button>
</div>

