<h1 class="py-3 mb-3 font-bold text-center text-[#953e46] border-solid border-b-[1px] border-b-[#953e46]">Main Menu</h1>
<div class="flex flex-col gap-3">
  <a href="#" class="text-[#953e46]">Videos</a>
  <a href="#" class="text-[#953e46]">People</a>
  <a href="#" class="text-[#953e46]">Document</a>
  <a href="#" class="text-[#953e46]">Event</a>
  <a href="#" class="text-[#953e46]">Communities</a>
  <a href="#" class="text-[#953e46]">Favorite</a>
  <a href="#" class="text-[#953e46]">Channel</a>
</div>
<div mat-dialog-actions class="flex justify-center">
  <button (click)="close()" mat-icon-button class="absolute bottom-[120px]">
    <mat-icon class="text-[#f4e3cf]">close</mat-icon>
  </button>
</div>

