<div id="breadcrumb" class="hidden sm:mb-5 sm:flex sm:items-center sm:py-4 sm:overflow-y-auto sm:whitespace-nowrap sm:border-y sm:border-[#f4e3cf] sm:border-solid">
  <a href="#" class="text-[#f4e3cf] hover:underline">Videos</a>
  <span class="mx-5 text-[#f4e3cf] dark:text-gray-300">/</span>
  <a href="#" class="text-[#f4e3cf] hover:underline">People</a>
  <span class="mx-5 text-[#f4e3cf] dark:text-gray-300">/</span>
  <a href="#" class="text-[#f4e3cf] hover:underline">Document</a>
  <span class="mx-5 text-[#f4e3cf] dark:text-gray-300">/</span>
  <a href="#" class="text-[#f4e3cf] hover:underline">Event</a>
  <span class="mx-5 text-[#f4e3cf] dark:text-gray-300">/</span>
  <a href="#" class="text-[#f4e3cf] hover:underline">Communities</a>
  <span class="mx-5 text-[#f4e3cf] dark:text-gray-300">/</span>
  <a href="#" class="text-[#f4e3cf] hover:underline">Favorite</a>
  <span class="mx-5 text-[#f4e3cf] dark:text-gray-300">/</span>
  <a href="#" class="text-[#f4e3cf] hover:underline">Channel</a>
</div>
