<router-outlet></router-outlet>

<header class="bg-[#953e46] px-2 md:px-36">
  <app-navbar></app-navbar>
</header>

<div class="bg-[#953e46] px-2 md:px-36" id="content">
  <app-breadcrumb></app-breadcrumb>

  <div id="v_and_a" class="sm:flex mb-5 flex-row gap-3 box-border">
    <section id="videos" class="sm:w-[60%]">
      <app-video></app-video>
    </section>

    <section id="activity" class="sm:w-[40%]">
      <app-activity></app-activity>
    </section>
  </div>

  <div id="p_and_c" class="sm:flex mb-5 flex-row gap-3 box-border">
    <div id="p_n_d" class="sm:w-[60%]">
      <section class="mb-5" id="people">
        <app-people></app-people>
      </section>

      <section id="document">
        <app-document></app-document>
      </section>
    </div>

    <section id="channel" class="sm:w-[40%]">
      <app-channel></app-channel>
    </section>

  </div>
</div>

<footer></footer>
