<div class="flex justify-between mb-3">
  <h1 class="text-[#f4e3cf]">Videos</h1>
  <h1 class="text-[#f4e3cf]">Brows All</h1>
</div>
<div class="hidden sm:flex sm:gap-3">
  <div class="bg-[#f4e3cf] h-96 w-[60%] rounded-sm flex items-end">
    <span class="ml-1 text-[#953e46]">How To Improve Your Skills</span>
  </div>
  <div class="w-[40%] flex flex-col gap-2">
    <div class="bg-[#f4e3cf] h-1/2 w-full rounded-sm flex items-end">
      <span class="ml-1 text-[#953e46]">Programming</span>
    </div>
    <div class="bg-[#f4e3cf] h-1/2 w-full rounded-sm flex items-end">
      <span class="ml-1 text-[#953e46]">Design</span>
    </div>
  </div>
</div>
<div class="hidden sm:flex sm:w-full sm:mt-3 sm:gap-2">
  <div class="w-[60%] rounded-sm flex gap-2 box-border">
    <div class="bg-[#f4e3cf] w-1/2 h-32 rounded-sm"></div>
    <div class="bg-[#f4e3cf] w-1/2 h-32 rounded-sm"></div>
  </div>
  <div
    class="w-[40%] bg-transparent border-white border-solid border-2 h-32 rounded-sm flex justify-center items-center">
    <span class="text-[#f4e3cf]">Uplod More</span>
  </div>
</div>

<!-- mobile -->
<div class="w-full overflow-y-auto rounded-sm flex gap-2 sm:hidden">
  <div class="bg-[#f4e3cf] w-1/2 h-32 rounded-sm"></div>
  <div class="bg-[#f4e3cf] w-1/2 h-32 rounded-sm"></div>
</div>
<!-- mobile -->
